<div style="height:15px">&nbsp;</div>
<p>
    - Poster presentation at the <a href="https://www.stms-lab.fr/agenda/audio-augmented-reality-workshop/detail">Audio augmented reality workshop</a>, IRCAM, 12-2024.
</p>

<p>
    - Spotlight talk and poster presentation at the GDR IASIS day "Audio, Vision, Perception", 11-2024 (CNRS).
</p>

<p>
    - Invited talk at the <a href="https://psl.eu/en/events/doctoral-conference-ai-sciences/">2024 PSL Doctoral Conference, AI for the Sciences</a>: "Audio-Visual Learning for Perception Enhancement".
</p>
<p>
    - Paper presentation talk at IROS 2023: "The Audio-Visual Batvision Dataset".
</p>