<div style="height:15px">&nbsp;</div>
<p>
    - <a href="https://cazencott.info/index.php/pages/LSML-24:-Large-Scale-Machine-Learning">Large-Scale Machine Learning & Data Mining, PSL Week, March 2024 & 2025</a>: Intensive 5-day advanced course in machine learning. Practical work supervision.
</p>

<p>

    - <a href="https://people.minesparis.psl.eu/fabien.moutarde/ES_MachineLearning/index.html">Introduction to Machine Learning, December 2023 & 2024</a>: Practical work supervision of 1st and 2nd year graduate students at Mines Paris, PSL.
</p>